#goban {
  background-color: bisque;
}

.row {
  clear: both;
}

.col {
  display: table;
  float: left;
  margin: 0;
  width: 40px;
  height: 40px;
  background:
    linear-gradient(to bottom, transparent 48%,
      #4c4c4c 48%,
      #4c4c4c 52%,
      transparent 52%),
    linear-gradient(to right, transparent 48%,
      #4c4c4c 48%,
      #4c4c4c 52%,
      transparent 52%);
  text-align: center;
}

[class*="chess"] {
  font-size: 0;
  box-shadow: none;
  border: none;
  transform: scale(0.8);
}

[class*="chess"]:hover {
  /* background: transparent; */
}

.latest-chess {
  box-shadow: rgb(31, 193, 27) 0px 0px 0px 4px
}

.none-chess,
.none-chess:hover,
.none-chess:focus,
.none-chess:active {
  background: transparent;
}

.black-chess,
.black-chess:hover,
.black-chess:focus,
.black-chess:active {
  background: #000;
}

.white-chess,
.white-chess:hover,
.white-chess:focus,
.white-chess:active {
  background: #fff;
}